<router-view @setuser="authenticateuser"></router-view>

<body>



    <h2 class="homeText">WHo's Watching ROKU?</h2>

    <section class="home">

        <ul class="homeBox">
            <li class="circle">
                <a href="channel">
                    <div><img class="img" src="imagesHome/1.jpg" alt="" width="40%">
                        <h3>Adult</h3>
                    </div>
                </a>
            </li>
            <li class="circle">
                <a href="kids">
                    <div><img class="img" src="imagesHome/2.jpg" alt="" width="40%">
                        <h3>Kids</h3>
                    </div>
                </a>
            </li>
        </ul>
    </section>


</body>