<footer>

    <footer class="footer">
        <ul class="social">
            <li class="socialPart"><i class="fab fa-youtube"></i></li>
            <li><i class="fab fa-facebook-square"></i></li>
            <li><i class="fab fa-instagram"></i></li>
            <li><i class="fab fa-twitter"></i></li>
        </ul>

        <p>&copy;2021 Roku, Inc. All rights reserved. ROKU, the ROKU Logo, ROKU TV, ROKU POWERED, "Streaming Stick,"
            "HAPPY STREAMING" and "NOW THIS IS TV" are trademarks and/or registered trademarks of Roku, Inc. in the
            United States.</p>

        <label class="logo">LOKU</label>

    </footer>