<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>
    <label class="logo-sign">LOKU</label>
    <ul class="nav-whole">
        <li class="nav-all"><a href="index">Home</a></li>
        <li class="nav-all"><a class="active" href="music">Roku Music</a></li>
        <li class="nav-all"><a href="channel">Roku Chennel</a></li>
        <!--<li><a href="kids.html">The Roku Kids Chennel</a></li>-->
        <li class="nav-all"><a href="signIn">Sign in</a></li>
    </ul>
</nav>